version: "3.9"

services:
  postgres:
    image: postgres:16
    # "bitnami/postgresql:latest" Talvez usarei essa imagem mais para frente
    container_name: parcel-delivery-db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: parcel_delivery
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
